#header{
	width: 100%;
	background-color: #d43b33;
	}
#header .inner{
	width: 1000px;
	margin: 0 auto;
	overflow:hidden;
}
.header_left{
	width: 118px;
	height: 74px;
	float: left;
}

.header_right{width: 700px;float: right;}

#header ul li{
	float: left;
	width: px;
	line-height: 72px;
	margin-left: 37px;
	position: relative;
}

.header_right li a{
	font:bold 16px "微软雅黑";
	color:#ffffff;
}
.header_right li:hover{
	background-image: url(../imgs/bn-line.png);
	background-repeat: no-repeat;
	background-position: bottom;
	
}
 .hidden_btn{
	width: 64px;
	height: 70px;
	background-color:#d43b33 ;
	position: absolute;
}

/*定义大图*/
#banner{
	width:100% ;
	/*height: 100px;*/
	height: 280px;
	background-image: url(../imgs/banner.jpg);
}
#banner .title{
	width: 600px;
	height: 100px;
	margin: 0 auto;
	color: #FFFFFF;
	text-align: center;
	padding-top: 96px;
}
#banner p.ch_title{
	height: 60px;
	text-align: center;
	font:bold 50px "微软雅黑" ;
	color: #FFFFFF;
}
#banner p.en_title{
	height: 30px;
	text-align: center;
	font:bold 16px "微软雅黑" ;
	color: #FFFFFF;
}
#content{
	width: 100%;
	margin: 0 auto;
} 
#content .title{
	width: 300px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 45px 0;
	margin: 0 auto;
	font-size: 18px;
	margin-bottom: 30px;
}
#content p.en_title{
	text-align: center;
}
#content p.ch_title{
	text-align: center;
	font-weight: bolder;
}




/*尾部部分*/
#footer{
	width: 100%;
	height:316px;
	background-color: #313131;
	/*text-align: center;*/
}	
#footer .box{
	width: 1000px;
	margin: 0 auto;
	padding-top:50px ;
}
#footer .box .left img{
	float: left;
	margin-right: 88px;
}
#footer .right{
	color: white;
}
#footer .right .company{
	font-size: 16px;
	height: 40px;
	line-height: 40px;
}
#footer .right .tel{
	font-size: 10px;
	height: 20px;
	line-height: 40px;
}
#footer .right .emal{
	font-size: 10px;
	height: 20px;
	line-height: 40px;
}
#footer .right .icp{
	color: #8C8C8C;
	font-size: 10px;
	height: 120px;
	line-height: 120px;
}